.home {
    &.page {
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;

        img {
            display: block;
            height: 100vh;
            width: 100vw;
            position: absolute;
        }
    }

    .resume {
        &.overview {
            position: relative;
            z-index: 3;
            color: white;
            padding: 0 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 50px;
            flex-flow: column;

            h3 {
                font-size: 3rem;
            }
        }

        &.redirect {
            margin-top: 5px;
            font-size: 1.25rem;
        }

        &.skills {
            width: 100%;
            display: flex;
            flex-flow: wrap;
            justify-content: space-evenly;
            &.title {
                margin: 20px 0;
                width: 100%;
                display: flex;
                justify-content: center;
                border-bottom: 1px solid white;
                padding-bottom: 10px;
            }
        }
    }
}

.page {
    position: relative;
    z-index: 2;
    color: white;

    &::-webkit-scrollbar {
        display: none;
    }
    a {
        color: $teal;
    }
}

.about {
    font-size: 1.5rem;
    padding: 0 5%;
    .opening p {
        text-align: center;
        margin-top: 5px;
        padding-bottom: 15px;
        border-bottom: 1px solid white;
        font-size: 1.1rem;
    }

    .main {
        margin-top: 10px;
    }

    &.page {
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        h3 {
            font-size: 3rem;
            text-align: center;
            margin-top: 30px;
        }
    }

    p {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid white;
    }
}
